//colors
$color_primary: #615cfd;
$color_secondary: #1f1f1f;
$color_tertiary: #727272;
$white: #fff;
$black: #000;

//font-family
$fm_primary: 'Roboto', sans-serif;
$fm_secondary: 'Mulish', sans-serif;

// font-sizes
$fs_xsmall: pxToRem(16);
$fs_small: pxToRem(20);
$fs_medium: pxToRem(24);
$fs_large: pxToRem(40);
$fs_xlarge: pxToRem(78);
