//title size
.title {
  font-weight: 600;
  text-transform: capitalize;

  &-1 {
    font-size: $fs_xlarge;
    @extend .title;

    @include breakpoint-down(small) {
      font-size: $fs_large;
    }
  }

  &-2 {
    font-size: $fs_medium;
    @extend .title;
  }

  &-3 {
    font-size: $fs_small;
    @extend .title;
  }

  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }

  &--primary {
    color: $color_primary;
  }

  &--secondary {
    color: $color_secondary;
  }
}

.subtitle {
  font-weight: 400;
  font-size: $fs_xsmall;

  &--secondery {
    text-transform: uppercase;
    color: $color_secondary;
  }
}

.text {
  &-1 {
    font-size: $fs_small;
  }

  &-2 {
    // font-size: $fs_small2;
  }

  &-3 {
    font-size: $fs_medium;
  }

  &-4 {
    font-size: $fs_large;
  }
}
