//colors
$color_primary: #222;
$color_secondary: #b68834;
$color_tertiary: #515769;
$white: #fff;
$black: #000;

//font-family
$fm_primary: 'Poppins', sans-serif;

// font-sizes
$fs_xsmall: pxToRem(14);
$fs_small: pxToRem(18);
$fs_medium: pxToRem(36);
$fs_large: pxToRem(45);
$fs_xlarge: pxToRem(60);
