//colors
$color_primary: #363f48;
$color_secondary: #00c853;
$color_tertiary: #818e9b;
$bg_why: #f2f6fa;
$white: #fff;
$black: #000;

//font-family
$fm_primary: 'Roboto', sans-serif;

// font-sizes
$fs_xsmall: pxToEm(14);
$fs_small: pxToRem(20);
$fs_medium: pxToRem(36);
$fs_large: pxToRem(40);
$fs_xlarge: pxToRem(60);
