.experience {
  background: #fafafa;

  .row {
    justify-content: space-between;
  }

  &__left {
    @include breakpoint-up(medium) {
      margin-left: auto;
      text-align: right;
    }
  }

  .card {
    background: $white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:nth-child(2) {
      background: $color_secondary;
      color: $white;

      h3 {
        color: $white;
      }
    }
    i {
      font-size: 30px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
