.hero {
  background: url('../img/1920x1080/01.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;

  &__content {
    color: $white;

    @include breakpoint-up(medium) {
      padding-left: pxToRem(100);
    }
  }

  .social__links {
    border-top: 1px solid rgb(189, 189, 189);
    padding-top: pxToRem(20);

    @include breakpoint-up(medium) {
      width: 50%;
    }

    a {
      margin-right: pxToRem(10);
      padding: pxToRem(10) pxToRem(15);
      border-radius: 50%;
      transition: 0.5s ease;

      &:hover {
        color: $black;
        background: $white;
      }
    }
  }
}
