.work {
  &__grid {
    div {
      padding: 2px;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
        z-index: 1;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
